.vs-like-dis{
  opacity:0.4
}

.vs-like-dis:hover{
  opacity:1
}

.vs-like-grade{
  padding: 6px;
  border: 1px solid #888889;
  background-color: #eaf1dd;
  margin: 6px;
}


  #foo {
    position: fixed;
    bottom: 0;
    right: 10px;
    z-index: 10;
    font-family: arial,sans-serif;
    width:280px;
    box-shadow: rgba(0,0,0,0.2) 0 2px 6px;
  }
  .p-header{
    border-collapse: separate;
    border-spacing: 2px;
    border-color: gray;
    height: 23x;
    padding: 4px 0 0 6px;
  }
  .Ht {
    width: 100%;
    margin: 0;
    border-collapse: collapse;
    cursor: pointer;
    font-size: 80%;
    color: white;
    margin: 0 0 0 10px;
  }
  .k {
    background: #404040;
    padding: 1px 3px 5px 0!important;
    position: relative;
  }
  .Ha, .Hq, .Hl, .Hk {
    cursor: pointer;
  }
  .Hl {
    background: no-repeat url(../img/vs_pl_i.png) 0 -451px;
    width: 24px;
    height: 24px;
  }
  .Hq {
    background: no-repeat url(../img/vs_pl_i.png) 0 -151px;
    width: 24px;
    height: 24px;
  }
  .Ha {
    background: no-repeat url(../img/vs_pl_i.png) 0 -391px;
    width: 24px;
    height: 24px;
  }
  .aYF {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
  .p-content{
    display:none;
    height:290px;
  }
  .p-mic-active{
    background-color: #ff7373;
    color:#fff;
  }

.button.button-xl, button.button-xl {
  font-size: 1.5rem;
  height: 3.25rem;
  line-height: calc(3.25rem - 2px);
  margin: 5px 0;
  font-family: inherit;
  font-size: 1rem;
  font-weight: inherit;
  text-align: center;
  text-decoration: none;
  color: #fff;
  background-color: #0074d9;
  border-radius: .25rem;
  border: 1px solid #0074d9;
  border-top-color: #1982dd;
  border-bottom-color: #0068c3;
  height: 2.25rem;
  line-height: calc(2.25rem - 2px);
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  vertical-align: middle;
  white-space: nowrap;
  padding: 0 .75em;
  cursor: pointer;
  display: inline-block;
  -webkit-transition: all .1s;
  transition: all .1s;
  -webkit-appearance: button;

}

.button.button-xl.disabled, .butto.button-xl:disabled, button.button-xl.disabled, button.button-xl:disabled {
  background-color: #0068c3;
  border-top-color: #1982dd;
  border-bottom-color: #0068c3;
  -webkit-box-shadow: none;
  box-shadow: none;
  text-decoration: none;
  opacity: .5;
  cursor: not-allowed;
}